force-app/main/default/flows/Get_Agent_Context.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agent_Context_Record.Last_Topic_Summary__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>goal</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agent_Context_Record.Pending_Goal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agent_Context_Record.Unresolved_Issue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>style</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agent_Context_Record.Communication_Style__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agent_Context_Record.User_Tier__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Record_Not_Found</name>
        <label>Record Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>goal</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>issue</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>style</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;Detailed&quot;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tier</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>&quot;Standard&quot;</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Context_Exists</name>
        <label>Context Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Record_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Outcome 2 No</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agent_Context_Record</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Record_Found</targetReference>
            </connector>
            <label>Outcome 1 Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Agent Context {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Agent Context</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agent_Context_Record</name>
        <label>Get_Agent_Context_Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Context_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agent_Context__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Agent_Context_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Contact ID to look up</description>
        <name>contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>goal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>issue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Preferred communication style</description>
        <name>style</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Previous conversation summary</description>
        <name>summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>User&apos;s service tier</description>
        <name>tier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
