force-app/main/default/flows/Get_Agent_ContextObject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Context_Record_Output</name>
        <label>Set Context Record Output</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>context_record</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agent_Context_Record</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Get Agent Context Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Agent Context Object</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agent_Context_Record</name>
        <label>Get Agent Context Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Context_Record_Output</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agent_Context__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Agent_Context_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Contact ID to look up</description>
        <name>contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Agent_Context__c record returned to Agent Script.</description>
        <name>context_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Agent_Context__c</objectType>
    </variables>
</Flow>
