force-app/main/default/flows/Load_And_Compose_Agent_Skills.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Invoke_Agent_Skill_LoadAndCompose</name>
        <label>Invoke Agent Skill Load And Compose</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>Agent_Skill_LoadAndCompose</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Outputs</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>instructionNames</name>
            <value>
                <elementReference>instructionNames</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>existingInstructionBundle</name>
            <value>
                <elementReference>existingInstructionBundle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>maxReferenceDepth</name>
            <value>
                <elementReference>maxReferenceDepth</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Outputs</name>
        <label>Assign Outputs</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>instructionsBundle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoke_Agent_Skill_LoadAndCompose.instructionsBundle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>loadedInstructionBundle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoke_Agent_Skill_LoadAndCompose.loadedInstructionBundle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>skillsLoadedCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoke_Agent_Skill_LoadAndCompose.skillsLoadedCount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>composeRan</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoke_Agent_Skill_LoadAndCompose.composeRan</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>warnings</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Invoke_Agent_Skill_LoadAndCompose.warnings</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Load And Compose Agent Skills {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Load And Compose Agent Skills</label>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Invoke_Agent_Skill_LoadAndCompose</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>CSV list of role/skill/workflow names to load.</description>
        <name>instructionNames</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Existing bundle JSON to merge with newly loaded instructions (optional).</description>
        <name>existingInstructionBundle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Maximum depth for reference expansion (optional, default 4).</description>
        <name>maxReferenceDepth</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Formatted prompt-ready instruction text from composer.</description>
        <name>instructionsBundle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Raw instruction bundle JSON from loader (for merge scenarios).</description>
        <name>loadedInstructionBundle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Number of instruction bundles loaded.</description>
        <name>skillsLoadedCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <description>Whether composer was invoked (load succeeded with non-empty bundle).</description>
        <name>composeRan</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Combined warning messages from loader and composer.</description>
        <name>warnings</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
