force-app/main/default/flows/Save_Agent_ContextObject.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Apply_Extracted_Memory</name>
        <label>Apply Extracted Memory</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>context_record.Last_Topic_Summary__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_summary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>context_record.Pending_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_goal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>context_record.Unresolved_Issue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>has_issue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>context_record.Communication_Style__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>new_style</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Context</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Success</name>
        <label>Assign Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>success</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Context_Contact</name>
        <label>Set Context Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>context_record.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>contact_id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Context_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Context_Id</name>
        <label>Set Context Id</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>context_record.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existing_Context.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Context_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Context_Exists</name>
        <label>Context Exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Set_Context_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record Not Found</defaultConnectorLabel>
        <rules>
            <name>Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Context</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_Context_Id</targetReference>
            </connector>
            <label>Record Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Save Agent Context Object {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Save Agent Context Object</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Context_Record</name>
        <label>Create Context Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Success</targetReference>
        </connector>
        <inputReference>context_record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Context</name>
        <label>Get Existing Context</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Context_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contact_id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agent_Context__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Context_Record</name>
        <label>Update Context Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Success</targetReference>
        </connector>
        <inputReference>context_record</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Apply_Extracted_Memory</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Contact used to find or create Agent_Context__c.</description>
        <name>contact_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Agent context record payload from Agent Script.</description>
        <name>context_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Agent_Context__c</objectType>
    </variables>
    <variables>
        <description>True when unresolved issue should remain open.</description>
        <name>has_issue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Pending goal to continue in next session.</description>
        <name>new_goal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Updated communication style preference.</description>
        <name>new_style</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Concise summary of the current conversation.</description>
        <name>new_summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
